@font-face {
	font-family: 'Bebas Neue';
	src: local('Bebas Neue Bold'), url('../fonts/BebasNeueBold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Avenir LT Std Book';
	src: local('AvenirLTStd-Book'), url('../fonts/AvenirLTStd-Book.woff') format('woff');
	font-weight: 100;
	font-style: normal;
}
